
dist
.solid
.output
.vercel
.netlify
netlify

# dependencies
/node_modules
package-lock.json
yarn.lock

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
